<!DOCTYPE html>
<html>
<head>
<title>about page</title>
</head>
<body>
{{>header}}
<h1>Heading = {{title}}</h1>
<form ><input placeholder="location">
    <button>search</button></form>
   

</body>
</html>